<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EldenBoost</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EldenBoost.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 fixed-top px-4 py-2"
             style=" background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,158,190,0.6698880235688025) 49%, rgba(0,102,102,1) 74%);">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: var(--secondary-light);" asp-area="" asp-controller="Home" asp-action="Index">EldenBoost</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Service" asp-action="Popular">Popular Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Service" asp-action="All">All Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="All">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Booster" asp-action="All">Boosters</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="left-border-main"></div>
    <div class="right-border-main"></div>
    <div class="container">
        <main role="main" class="pb-3 min-vh-100">
            @RenderBody()
        </main>
    </div>
        <div class="container-fluid mt-3" style="background-color: var(--dark-grey-correct); color: white;">
        <div class="row justify-content-center py-5 px-5">
            <div class="col-lg-4 col-md-6 text-center">
                <h4>Join our Team</h4>
                <hr style="color: var(--lightest); width: 50%; margin: 0 auto; margin-bottom: 12px;" />
                @await Component.InvokeAsync("BottomSectionJoin")
            </div>
            <div class="col-lg-4 text-center">
                <h4>Popular Services</h4>
                <hr style="color: var(--lightest); width: 50%; margin: 0 auto; margin-bottom: 12px;" />
                @await Component.InvokeAsync("BottomSectionServices")
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <h4>About</h4>
                <hr style="color: var(--lightest); width: 50%; margin: 0 auto; margin-bottom: 12px;" />
                @await Component.InvokeAsync("BottomSectionAbout")
            </div> 
        </div>
        <hr />
        <div class="row justify-content-center py-2">
            <p class="col-lg-8 text-muted text-center">
                EldenBoost is not endorsed by, directly affiliated with, maintained, or sponsored by FromSoftware. The views and opinions expressed by EldenBoost do not reflect those of anyone officially associated with producing or managing their game franchises. Copyrighted art submitted to or through EldenBoost remains the intellectual property of the respective copyright holder. EldenBoost does not engage in the sale of in-game items. Instead, our service focuses on enhancing players’ in-game skills and occasionally gifting in-game items to users.
            </p>
        </div>
    
    </div>

    <div class="modal fade zoom-modal" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="padding: .5rem; background-color: var(--main-dark);">
                    <h5 class="modal-title" id="cartModalLabel">Cart Details</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="cartDetailsContent" style="background-color: rgba(24, 20, 20, 0.69);">

                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-muted bg-dark">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - EldenBoost
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c9881530a5.js" crossorigin="anonymous"></script>
    <script src="~/js/toastr-notifications.js"></script>

 

    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_NotificationsPartial" />
</body>
</html>
