@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IBoosterService boosterService;
@inject IAuthorService authorService;
@inject IUserService userService;
@inject ICartService cartService;

@{
    string userName = await userService.GetUserNicknameAsync(User.Id());
    bool isAuthor = await authorService.ExistsByUserIdAsync(User.Id());
    bool isActiveAuthor = await authorService.IsActiveAsync(User.Id());
    bool isBooster = await boosterService.BoosterExistsByUserIdAsync(User.Id());
    bool isActiveBooster = await boosterService.IsActiveAsync(User.Id());
    string profilePicture = await userService.GetProfilePictureByUseIdAsync(User.Id());
    bool hasOrders = await userService.HasOrdersAsync(User.Id());
    int quantity = await cartService.GetCartQuantityByUserIdAsync(User.Id());


}

<ul class="navbar-nav">
    @if (!User.IsAdmin() && !SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Join Our Team
            </a>
            <div class="dropdown-menu bg-dark pb-0" style="--bs-bg-opacity: .5;" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-light bg-dark" style="--bs-bg-opacity: .5;" asp-area="" asp-controller="Application" asp-action="SubmitBooster">Become Booster</a>
                <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .5;" asp-area="" asp-controller="Application" asp-action="SubmitAuthor">Become Author</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="themeDropdown" role="button" data-bs-toggle="dropdown">
                Themes
            </a>
            <ul class="dropdown-menu bg-dark pb-0" style=" --bs-bg-opacity: .4;">
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="default" href="#">Blade of Miquella</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="stormcaller" href="#">Stormcaller</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="night" href="#">Eldritch Night</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="eternity" href="#">Prism of Eternity</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="hollow" href="#">Ashen Hollow</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="erdtree" href="#">Erdtree Veil</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="twilight" href="#">Amethyst Twilight</a></li>
            </ul>
        </li>
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light">Hello, @userName!</span>
        </li>
        if (!User.IsAdmin() && !isBooster && !isAuthor)
        {
            <li class="nav-item">
                <a class="nav-link text-light" id="viewCartButton" href="javascript:void(0);">
                    <i class="fa-solid fa-cart-shopping"></i><sub id="cartQuantity">@quantity</sub>
                </a>
            </li>
        }     
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@profilePicture" style="width: 28px; object-fit: cover; border-radius: 50%; aspect-ratio: 1;" />
                @* <i class="fa-regular fa-circle-user"></i> *@
            </a>
            <div class="dropdown-menu bg-dark pb-0" style=" --bs-bg-opacity: .4;" aria-labelledby="navbarDropdown">
                @if (isBooster)
                {
                    <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="Booster" asp-action="MyProfile">My Profile</a>
                    if (isActiveBooster)
                    {
                        <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="Order" asp-action="All">Pending Orders</a>
                    }
                    
                }
                @if (isAuthor)
                {
                    <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="Author" asp-action="MyProfile">My Profile</a>
                    if (isActiveAuthor)
                    {
                        <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="Article" asp-action="Create">Create Article</a>
                    }
                
                }
                @if(!isBooster && !isAuthor)
                {
                    <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="User" asp-action="MyProfile">My Profile</a>
                }
                <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
            </div>
        </li>

        @if (!User.IsAdmin() && !isBooster && !isAuthor && !hasOrders)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Join Our Team
                </a>
                <div class="dropdown-menu bg-dark pb-0" style=" --bs-bg-opacity: .4;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-light bg-dark" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="Application" asp-action="SubmitBooster">Become Booster</a>
                    <a class="dropdown-item text-light bg-dark pb-2" style="--bs-bg-opacity: .4;" asp-area="" asp-controller="Application" asp-action="SubmitAuthor">Become Author</a>
                </div>
            </li>
        }
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="themeDropdown" role="button" data-bs-toggle="dropdown">
                Themes
            </a>
            <ul class="dropdown-menu bg-dark pb-0" style=" --bs-bg-opacity: .4;">
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="default" href="#">Blade of Miquella</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="stormcaller" href="#">Stormcaller</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="night" href="#">Eldritch Night</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="eternity" href="#">Prism of Eternity</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="hollow" href="#">Ashen Hollow</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="erdtree" href="#">Erdtree Veil</a></li>
                <li><a class="dropdown-item theme-switcher text-light bg-dark" style="--bs-bg-opacity: .4;" data-theme="twilight" href="#">Amethyst Twilight</a></li>
            </ul>
        </li>
        if (User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

