
/*----------------- Custom Card --------------------*/

.custom-card {
    background-color: rgba(24, 20, 20, 0.86);
    /*background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,35,36,1) 50%, rgba(2,0,36,0.09565833169205185) 100%);*/
    /*background: linear-gradient(90deg, rgba(0,36,36,0.3113446062018558) 0%, rgba(0,36,36,0.921988863904937) 50%, rgba(0,36,36,0.2581233176864496) 100%);*/
    /*background: linear-gradient(90deg, rgba(0,36,36,1) 0%, rgba(0,36,36,0) 50%, rgba(0,36,36,1) 100%);*/
    color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 16px;
    transition: transform 0.3s;
    transition: background .3s ease;
    overflow: hidden;
    box-shadow: inset 0px 6px 26px 1px rgba(0,0,0,0.51);
}


    .custom-card img {
        height: 150px;
        object-fit: cover;
        object-position: top;
        transition: transform 0.3s ease;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    }

    .custom-card:hover {
        background-color: rgba(24, 20, 20, 0.96);
        box-shadow: 0px 6px 12px 0px var(--service-card-shadow);
        -webkit-box-shadow: 0px 6px 12px 0px var(--service-card-shadow);
        -moz-box-shadow: 0px 6px 12px 0px var(--service-card-shadow);
        transition: background .3s ease, box-shadow .3s ease text-shadow .3s ease;
    }
    
.custom-card:hover img {
    transform: scale(1.05);
}

        .custom-card:hover .card-body h4,
        .custom-card:hover .card-body h5 {
            color: white;
            text-shadow: 0px 2px 8px var(--service-card-shadow), 0px 4px 4px var(--service-card-shadow);
        }

  /*  .custom-card:hover {
        -webkit-box-shadow: 0px 8px 18px 0px var(--service-card-shadow);
        -moz-box-shadow: 0px 8px 18px 0px var(--service-card-shadow);
        box-shadow: 0px 8px 18px 0px var(--service-card-shadow);
        transition: .3s ease;
    }*/

.custom-card .card-body {
    padding: .75rem;
}

    .custom-card .btn-edit {
        margin-top: .5rem;
        background-color: var(--main-light);
        color: aliceblue;
        font-size: 1rem;
        padding: 0.25rem 1.25rem;
        border-radius: 0.35rem;
        transition: 0.3s ease;
    }

        .custom-card .btn-edit:hover {
            background-color: var(--main-dark);
            color: aliceblue;
        }

    .custom-card .btn-details {
        margin-top: .5rem;
        /*     background-color: var(--secondary-dark);*/
        background-color: var(--main-light);
        color: aliceblue;
        font-size: 1rem;
        padding: 0.25rem 1.25rem;
        border-radius: 0.35rem;
        transition: 0.3s ease;
    }

        .custom-card .btn-details:hover {
            /*    background-color: var(--main-light);*/
            background-color: var(--secondary-dark);
        }

    .custom-card .btn-delete {
        margin-top: .5rem;
        background-color: rgba(42,77,105);
        color: aliceblue;
        font-size: 1rem;
        padding: 0.25rem 1.25rem;
        border-radius: 0.35rem;
        transition: 0.3s ease;
    }

        .custom-card .btn-delete:hover {
            background-color: rgba(42,77,105, 0.6);
        }



/*-------------------- Booster Card -------------------------*/

.booster-card {
    /*   width: 190px;
    height: 254px;*/
    border-radius: 30px;
    background: #212121;
    box-shadow: 10px 10px 30px rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 2px;
    transition: transform 0.3s ease;
}

    .booster-card:hover {
        background-color: rgba(33,33,33, 0.92);
        transform: scale(1.02)
    }
    /*   .booster-card:hover h3{
        color: var(--secondary-dark);
    }*/

    .booster-card img {
        width: 60%;
        border-radius: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1;
        align-self: center;
    }

    .booster-card p {
        margin-bottom: 1px;
    }

.star-rating {
    display: inline-block;
}

.star {
    font-size: 24px; 
    color: #ccc; 
    margin-right: 5px;
}

    .star.active {
        color: var(--secondary-dark);
    }

/*----------------------------- Article Card --------------------------------*/

.custom-card.article-card .card-body {
    padding: .5rem;

}


.article-card-news {
    color: deepskyblue;
    color: var(--main-light);
    filter: brightness(1.5);
}

.article-card-guide {
    color: var(--secondary-light);
    color: var(--secondary-dark);
    filter: brightness(1.3);
}


.custom-card.article-card {
    background-color: rgba(24, 20, 20, 0.85);
    border-radius: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 170px;
}

    .custom-card.article-card:hover {
        background-color: rgba(24, 20, 20, 0.97);
        transition: background .5s ease;
    }

    .custom-card.article-card img {
        width: 174px;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transition: transform 0.3s ease;
        /* Apply the gradient mask */
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    }
