.accordion-item {
    background-color: var(--secondary-dark); 
}

.accordion-button {
    color: azure; 
    background-color: var(--main-dark); 
    border: none; 
}

    .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: var(--main-light);
        -webkit-box-shadow: 1px 0px 67px -3px var(--secondary-light);
        -moz-box-shadow: 1px 0px 67px -3px var(--secondary-light);
        box-shadow: 1px 0px 67px -3px var(--secondary-light);
    }


.accordion-body {
    background-color: var(--lightest); 
    color: #004d40; 
}


.accordion-button.collapsed {
    box-shadow: none;
}

.accordion-button::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.accordion-button::before,
.accordion-button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 4%;
    width: 0.2em;
    height: 1em;
    background-color: rgba(24, 20, 20, 0.987);
    transform: translate(-50%, -50%) rotate(45deg);
}

.accordion-button::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
