

.img-details {
    background-size: cover;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 8%;
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    align-self: center;
}

.content-wrapper {
    padding: 3em;
    background-color: var(--main-dark);
    color: lightgrey;
    border-radius: 16px;
    box-shadow: inset 0px 6px 26px 1px rgba(0,0,0,0.51);
}

    .content-wrapper p {
        font: 16px roboto, verdana;
        padding: 0;
    }

/*------------------ SLIDER --------------------*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: var(--secondary-light);
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var(--secondary-light);
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var(--secondary-dark);
        cursor: pointer;
        border-color: var(--lightest);
    }

#sliderValue {
    font-size: 1.25em;
    color: white;
}



/*------SERVICE details MOBILE-------*/

@media(width <= 768px) {
    .service-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        align-items: center;
        justify-content: center;
    }

        .service-container > div {
            width: 90%;
        }

        .service-container img {
            width: 100%;
            align-self: center;
            margin-right: 60px;
        }
}



/*
------------------ features ---------------------*/

.features{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.feature-bg {
    background: linear-gradient(135deg, #fffffff4, var(--main-light), #ffffff98);
    padding: 1px;
    border-radius: 1rem;
    box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
    max-width: 300px;
}

.feature-card {
    font-size: 1rem;
    color: var(--lightest);
    background: linear-gradient(135deg, var(--main-dark) 0%, var(--secondary-dark) 43%, var(--main-dark) 100%);
    padding: .45rem .75rem;
    border-radius: 1rem;
}

    .feature-card:hover {
        color: #fffffff4;
        background: linear-gradient(135deg, var(--main-dark) 10%, var(--secondary-dark) 53%, var(--main-dark) 80%);
        transition: .4s ease;
    }



@media(width <= 768px) {

    .features {
        display: none;
    }
}
