@import url('forms.css');
@import url('cards.css');
@import url('popular-services.css');
@import url(faq.css);
@import url(service-details.css);
@import url(buttons.css);
@import url(my-profile.css);
@import url(chat.css);
@import url(homepage.css);
@import url(toastr-notifications.css);
@import url(dashboard.css);


:root {
    --main-dark: #242E49;
    --main-light: #37415C;
    --secondary-dark: #54162B;
    --secondary-light: #B4182D;
    --lightest: #FDA481;
    --dark-grey-correct: rgba(24, 20, 20, 0.987);
    --profile-shadow: #FDA481;
    --service-card-shadow: #54162B;
}

* {
    font-family: "Roboto", serif;
}

html {
    font: 14px/1.5;
    scrollbar-color: var(--main-dark) var(--secondary-dark);
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: azure;
    background: rgb(24,26,47);
    background: linear-gradient(90deg, rgba(24,26,47,1) 0%, rgba(36,46,73,0.9075630935968137) 50%, rgba(84,22,43,1) 100%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*---------SWORDS MOBILE------------*/


@media (width <= 1640px) {
    .left-border-main {
        display: none;
    }

    .right-border-main {
        display: none;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-item a:hover, .form-inline button:hover {
    text-shadow: 0 2px 10px var(--secondary-light);
    color: var(--secondary-light);
    transform: scale(1.02);
}

.nav-item a:hover {
    color: var(--lightest);
}

.title-glow {
    text-shadow: 0 0 10px azure;
}

.nav-custom {
    background: rgb(24,26,47);
    background: linear-gradient(90deg, rgba(24,26,47,1) 0%, rgba(36,46,73,0.7075630935968137) 48%, rgba(84,22,43,1) 100%);
}


/*--------------------- SWORDS -----------------------*/

.left-border-main {
    width: 400px;
    height: 500px;
    background: url(../images/sword.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 240Px;
    opacity: .7;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

.right-border-main {
    width: 400px;
    height: 500px;
    background: url(../images/sword.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 240Px;
    opacity: .75;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

/*===================== Hero image -------------------------*/


.hero {
    width: 100%;
    height: 280px;
    background: url(../images/hero2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

/*------------- Bottom Page Links -----------------------*/

.bottom-page-link {
    text-decoration: none;
    color: azure;
}

    .bottom-page-link:hover {
        color: var(--lightest);
        text-decoration: underline;
    }


/* ------------------CHECKBOX - SELECT - COLOR----------------------*/

input[type="checkbox"]:checked {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(102, 178, 178, 0.25);
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(102, 178, 178, 0.25);
    /*    background-color: rgba(24, 20, 20, 0.75);
    color: azure;*/
    border-color: var(--secondary-light);
}

.custom-select {
    /*   background-color: rgba(24, 20, 20, 0.75);
    color: azure;*/
    border-color: var(--secondary-light);
}




.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}



/*----------------- article Read section -----------------*/

.img-read {
    background-size: cover;
    width: 30%;
    height: auto;
    margin: 0 auto;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    --bs-gutter-x: 0;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}



.table thead tr th {
    /* padding:16px;*/
    font-weight: bold;
}

.table tbody tr td {
    /*    padding-left: 16px;*/
    /* border-left: 2px solid grey;*/
    /*border-left: 2px solid grey;*/
}



.admin-table {
    /*padding: 1.5em;*/
    /*background-color: var(--main-light);*/
    background-color: rgba(24, 20, 20, 0.86);
    color: lightgrey;
    border-radius: 12px;
    box-shadow: inset 0px 6px 26px 1px rgba(0,0,0,0.51);
}

    .admin-table a.order-link {
        color: white;
        /*    border: 1px solid white;*/
        border-radius: 50%;
        padding: .35rem .6rem;
        text-decoration: none;
        background-color: dimgrey;
        transition: .2s ease;
    }

        .admin-table a.order-link:hover {
            color: var(--dark-grey-correct);
            background-color: var(--main-light);
        }



/*.slide-in-from-left {
    animation: slideLeft 0.2s ease-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}*/

.zoom-modal .modal-dialog {
    animation: zoomIn 0.2s ease-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}



/*-------------- managa nav ---------------*/

.nav-pills .nav-link.active {
    background-color: var(--main-light);
}

.nav-pills .nav-link {
    color: var(--lightest);
}

html body div.container main.pb-3.min-vh-100 div div.row.justify-content-center div.col-md-9 div.row div.col-md-6 {
    width: 100%;
}

.form-floating {
    color: var(--main-dark);
}


/*---------------- ERROR PAGE ---------------*/
.error-img {
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
    max-height: 90vh;
    object-fit: cover;
    object-position: center;
}
