

<ul style="list-style: none; padding: 0px;">
    <li> <a href="#" class="bottom-page-link">Terms and Conditions</a></li>
    <li> <a href="#" class="bottom-page-link">Refund Policy</a></li>
    <li>  <a href="#" class="bottom-page-link">Cookie Policy</a></li>
    <li><a href="#" class="bottom-page-link">Privacy Policy</a></li>
</ul>