

<h3 class="text-center mt-5 mb-3" style="text-shadow: 2px 3px 1px #474747;">FAQ</h3>

<div class="accordion-flush" id="faq">

    <div class="accordion-item">
        <h2 id="flushHeadingFirst" class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flushCollapseFirst" aria-expanded="true" aria-controls="flushCollapseFirst">
                What is Elden Ring Boosting?
            </button>
        </h2>
        <div id="flushCollapseFirst" class="accordion-collapse collapse show" aria-labelledby="flushHeadingFirst" data-bs-parent="#faq">
            <div class="accordion-body">
                Being a massive, sprawling, and excruciatingly difficult game, Elden Ring is chock full of places you can get stuck, items you might miss, and obstacles that require more than mere luck or skill to overcome. Depending on your goals in the Lands Between, getting the best experience can also involve a heavy time investment, especially if you're looking to reach the higher levels, or max out all the gear in your inventory, or obtain every item in the game.

                That's why our Elden Ring Boost services are specially crafted to offer you a chance to get the best experience possible without investing an absurd amount of time. Be it by getting some Runes, Item Drops or Boss Kills, or even a helping hand through our Play with a Pro services, we're here to make sure you can enjoy Elden Ring as much as we do.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flushHeadingSecond">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flushCollapseSecond" aria-expanded="false" aria-controls="flushCollapseSecond">
                What are the requirements for purchasing an Elden Ring Boost?
            </button>
        </h2>
        <div id="flushCollapseSecond" class="accordion-collapse collapse" aria-labelledby="flushHeadingSecond" data-bs-parent="#faq">
            <div class="accordion-body">
                To buy our services, you generally just need the base game (and the DLC if you're looking for a Shadow of the Erdtree service), a stable internet connection, and no active bans or suspensions.

                After purchase, you'll be directed to your profile where you can keep track of your orders and communicate with the booster assigned to each order in a private order chat.

                For services involving account sharing, you'll be asked for your login details, platform information, and which character to use. Your assigned booster will then log in and complete your order.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flushHeadingThird">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flushCollapseThird" aria-expanded="false" aria-controls="flushCollapseThird">
                Is getting an Elden Ring boost cheating?
            </button>
        </h2>
        <div id="flushCollapseThird" class="accordion-collapse collapse" aria-labelledby="flushHeadingThird" data-bs-parent="#faq">
            <div class="accordion-body">
                No, all of our services are either fully compliant with the Terms of Service or designed in a way that won't lead to any bans or suspensions. Our boosters either farm the necessary runes and items manually or use ToS-friendly duplication methods, ensuring your account remains completely safe when you buy from us.

                At EldenBoost, we are 100% committed to customer safety, satisfaction, and enjoyment. We thoroughly vet all of our boosters before they can take on any orders and ensure that their methods are risk-free, with no chance of putting your account in jeopardy.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flushHeadingFourth">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flushCollapseFourth" aria-expanded="false" aria-controls="flushCollapseFourth">
                How do I know that your services aren't a scam?
            </button>
        </h2>
        <div id="flushCollapseFourth" class="accordion-collapse collapse" aria-labelledby="flushHeadingFourth" data-bs-parent="#faq">
            <div class="accordion-body">
                EldenBoost has been around for some time now — which shows our commitment to staying at the top of our game and maintaining our reputation as a safe, affordable, and customer-friendly organization. Our top priority is customer satisfaction, as demonstrated by our 5-star reviews on Trustpilot.
                <p>You can always count on us to provide:</p>
                <ul>
                    <li>24/7 customer support via Live Chat and Discord</li>
                    <li>The best prices in the market</li>
                    <li>Complete dedication to your account's safety and quick order completion</li>
                    <li>Adherence to consumer rights</li>
                    <li>Legitimate services without any cheating or risky actions</li>
                </ul>

                Rest assured, we're here to ensure your experience with us is a great one.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flushHeadingFifth">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flushCollapseFifth" aria-expanded="false" aria-controls="flushCollapseFifth">
                What is The Loyal Customer Program?
            </button>
        </h2>
        <div id="flushCollapseFifth" class="accordion-collapse collapse" aria-labelledby="flushHeadingFifth" data-bs-parent="#faq">
            <div class="accordion-body">
                By registering and starting your boosting journey with us you get access to your own site profile. With each purchase made you climb the leveling ladder. Each level gives you a new badge and a personal discount code. The tiers are:

                <ul>
                    <li>$100 - Adventurer</li>
                    <li>$200 - Explorer</li>
                    <li>$500 - Pathfinder</li>
                    <li>$1000 - Trailblazer</li>
                    <li>$1500 - Vanguard</li>
                    <li>$2500 - Hero</li>
                    <li>$5000 - Champion</li>
                    <li>$10000 - Conqueror</li>
                    <li>$15000 - Legend</li>
                    <li>$25000 - Myth</li>
                </ul>
            </div>
        </div>

    </div>
</div>