@{
    ViewData["Title"] = "Error";
}


<center>
    <div class="row justify-content-center">
        <img src="~/images/error.jpg" class="col-9 error-img" />
    </div>
</center>
<hr />
<center>
    <h2 style="color: var(--secondary-light)">OOPS! Looks like you took a wrong turn, Tarnished! <a asp-controller="Home" asp-action="Index" class="col-2 btn btn-fancy-read">Return Home</a></h2>
</center>

