@{
    ViewData["Title"] = "Home Page";
            // var services = Model.ToList();
}


<div class="row justify-content-center align-items-end bg-transparent shadow p-3 homepage-img">
    <div class="col-lg-7 py-5 p-lg-5">
        <h2 class="px-lg-5 text-center text-lg-start" style="font-weight: bold; text-shadow: 2px 3px 1px #474747;">Runes, Gear, Boss Fights – EldenBoost, your ultimate destination for everything Elden Ring!</h2>
        <p class="px-lg-5 mb-5" style="font-weight: bold; text-shadow: 2px 3px 1px #474747;">We provide the safest and most affordable Elden Ring Boost services available. No cheats, hacks, or shady practices—just pure gameplay support.</p>
        <div class="row justify-content-around">
            <div class="notification col-4">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Premius Service</div>
                <div class="notibody">We only work with professional boosters of the highest level.</div>
            </div>

            <div class="notification col-4">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Fair Prices</div>
                <div class="notibody">We provide high-quality services at competitive, fair prices. </div>
            </div>

            <div class="notification col-4">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Account Leveling</div>
                <div class="notibody">You can level-up your account with each order you place.</div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <img class="img-fluid" src="~/images/elden-home-image.png" />
    </div>
</div>

<center>
    -
    <button class="home-button mt-5 mb-4" onclick="location.href='@Url.Action("Popular", "Service")'">
        POPULAR SERVICES
    </button>
    -
</center>
<hr />

<center class=" mt-4">
    <div class="loader mt-5">
        <div class="glitch" style="text-shadow: 2px 3px 1px #474747;">What Our Clients Say:</div>
    </div>
</center>

<div class="row justify-content-between p-5">
    @await Component.InvokeAsync("ReviewsCarouselComponent")
    <center>
        <a href="#submit-review" class="btn review-button scroll-link">Leave a review <i class="fa-solid fa-arrow-turn-down"></i></a>
    </center>

</div>
<hr />

<div class="row justify-content-center align-items-center bg-transparent p-4 mt-5 mb-5 shadow  ">
    <div class="col-lg-6">
        <img class="img-fluid" src="~/images/warrior.png" />
    </div>
    <div class="col-lg-5 p-6" style="display: flex; flex-direction: column; justify-content: space-around;">
        @* <h2 class="px-5" style="font-weight: bold; margin-bottom: 80px;">Placing an order has never been easier! Just follow this few simple steps.</h2> *@
        <div class="tips-card" style="margin: 0 auto;">
            <a asp-action="All" asp-controller="Service" class="tips-card1 shadow">
                <p class="text-center mb-2">It's Never Been More Simple!</p>
                <p class="small">Placing an order has never been easier! Just follow this few simple steps and click BUY.</p>
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>
        </div>
        @await Component.InvokeAsync("ThreeStepsComponent")
    </div>
</div>

<hr />

<div class="row justify-content-around align-items-center p-5">

    @await Component.InvokeAsync("NewsCarouselComponent")
    @await Component.InvokeAsync("ServicesCarouselComponent")
    @await Component.InvokeAsync("GuidesCarouselComponent")

</div>