
<ul style="list-style: none; padding: 0px;">
    <li><a class="bottom-page-link" asp-area="" asp-controller="Application" asp-action="SubmitBooster">Become Booster</a></li>
    <li><a class="bottom-page-link" asp-area="" asp-controller="Application" asp-action="SubmitAuthor">Become Author</a></li>
</ul>
