@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-4 login-box">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center" style="color: azure;">Create a new account.</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-box">
                <input asp-for="Input.Email" class="" autocomplete="username" aria-required="true" required />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Password" class="" autocomplete="new-password" aria-required="true" required />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.ConfirmPassword" class="" autocomplete="new-password" aria-required="true" required />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Nickname" class="" autocomplete="nick-name" aria-required="true" required />
                <label asp-for="Input.Nickname"></label>
                <span asp-validation-for="Input.Nickname" class="text-danger"></span>
            </div>
            <center>
                <button id="registerSubmit" type="submit" class="btn">Register<span></span></button>
            </center>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
